/* Provide sufficient contrast against white background */
#root {
  height: 100%;
}

html, body {
  height: 100%;
}

html.theme-transition * {
  transition: background-color 1s;
}

textarea.input-code {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
  min-height: 350px;
}